@import '@/styles/mixins.scss';

.wrapper {
  position: relative;
  align-items: center;
  display: flex;
}
.label {
  max-width: 12.25rem;
  width: 100%;

  display: flex;
  align-items: center;

  border-bottom: solid 1px #a1a1a1;
  @include screen-xs-max {
    display: none;
  }
}

.input {
  font-size: 0.875rem;
  padding: 3.5px 0 4px;
  font-weight: 400;
  line-height: 121.428571%; /* 17/14 */
  background-color: var(--neutral-000);
  &::placeholder {
    color: #cbcbcb;
  }

  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

.icon {
  cursor: pointer;
}
