@import '@/styles/mixins.scss';
.container {
  @include adaptive-value('padding-top', 100, 50);
  @include adaptive-value('padding-bottom', 340, 128);
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.content {
  @include adaptive-value('margin-top', 80, 40);
  > div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      width: 100%;
    }
  }
}

.title {
  @include adaptive-value('margin-bottom', 60, 30);
}
