@import '@/styles/mixins.scss';

.container {
  @include adaptive-value('padding-top', 120, 60);
  @include adaptive-value('padding-bottom', 340, 128);

  display: flex;
  gap: 72px;
}

.medium {
  margin-bottom: 48px;
  text-align: center;
  height: 20px;
  font-weight: 500;
  line-height: 1;
  color: #3c4242;
}

.underline {
  color: #178eed;
  border-bottom: 2px solid #178eed;
}

.loginViaSocial {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 56px;
  border: 1px solid #c8c8c8;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
}
