.container {
  display: inline-flex;
  align-items: center;
  position: relative;

  > svg:last-of-type {
    margin-right: 0 !important;
  }
}

.star {
  margin-right: 4.67px;
  display: flex;
}

.overlay {
  background-color: white;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
