.pagination {
  display: flex;
  align-items: center;
  gap: 0.75rem;

	> button,
  > span {
    @apply text-xl font-montserrat font-medium;
    color: var(--secondary-300);
  }

  > button {
    &:first-of-type {
      margin-right: 2.8125rem;
    }
    &:last-of-type {
      margin-left: 2.8125rem;
    }

    &:not(:disabled):not(:is(.active)):hover {
      color: var(--secondary-400);
    }

    &:first-of-type, &:last-of-type {
      transition: all .3s ease-in-out;
      :hover {
        color: var(--text-color);
      }
    }

		&.active {
			color: var(--text-color)
		}
  }
}
