
.inner {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  > label {
    @apply font-inter text-base font-semibold;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--text-color);
  }
}
