@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset';
@import './variables';
@import './mixins';

html,
body {
  height: 100%;
  background-color: var(--background);
}

main {
  max-width: #{$maxWidth + px};
  min-height: 50%;
  margin: 0 auto;
  @include adaptive-value('padding-top', 128, 80);
}

@layer base {
  :root {
    --red-color: #950707; // rgb(149, 7, 7)
    --text-color: #222222; // rgb(34,34,34)
    --white-color: rgb(250, 250, 250);

    --secondary-500: rgb(34, 34, 34);
    --secondary-400: rgb(76, 76, 76);
    --secondary-300: rgb(118, 118, 118);
    --secondary-200: rgb(161, 161, 161);

    --primary-200: rgb(213, 156, 156);

    --neutral-100: rgb(228, 228, 228);
    --neutral-300: rgb(173, 173, 173);
    --neutral-500: rgb(118, 118, 118);

    --background: rgb(250, 250, 250);
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --transition-time-quick: 150ms ease-in;
    --transition-time-long: 1000ms ease-out;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .heading-1 {
    font-weight: 700;
    @include adaptive-value('font-size', 32, 28);
    line-height: 112.5%; /* 36/32 */
  }

  .heading-2 {
    @include adaptive-value('font-size', 28, 24);
    line-height: 114.285714%; /* 32/28 */
    font-weight: 600;
  }
  .heading-3 {
    @include adaptive-value('font-size', 24, 20);
    line-height: 116.666667%; /* 28/24 */
    font-weight: 500;
  }

  .heading-4 {
    @include adaptive-value('font-size', 20, 18);
    line-height: 120%; /* 24/20 */
    font-weight: 600;
  }
}

.page__container {
  @include adaptive-value('padding-left', 96, 12);
  @include adaptive-value('padding-right', 96, 12);
}
