.wrapper {
  position: relative;
  &--default {
    max-width: 15rem;
    width: 100%;
    > button {
      @apply font-montserrat text-md font-semibold uppercase;
      display: flex;
      align-items: center;
      padding: 1rem 0.75rem;
      background-color: var(--neutral-000);
      gap: 0.5rem;
      color: var(--text-color);

      transition: all 0.3s ease-in-out;

      svg {
        stroke: var(--text-color);
        transition: stroke 0.3s ease-in-out;
      }

      &:not(:is(.trigger--open)):hover {
        background-color: rgb(243, 229, 229);
      }

      &.trigger--open {
        color: var(--primary-500);

        svg {
          stroke: var(--primary-500);
        }
      }
    }
  }
}

.list {
  background-color: var(--neutral-000);
  &--default {
    z-index: 20;
    top: 100%;
    position: absolute;
    margin-top: 2px;
    max-width: 15rem;
    width: 100%;
    padding: 0 !important;
    > li {
      border-bottom: 0.5px solid var(--neutral-300);
      &:first-child {
        border-top: 0.5px solid var(--neutral-300);
      }

      label {
        @apply font-montserrat text-md font-semibold;
        padding: 1rem 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        color: var(--text-color);
      }
    }
  }
  &--drawer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > li > label {
      @apply font-inter text-base font-semibold;
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--text-color);
    }
  }
}
