@import '@/styles/mixins.scss';

.wrapper {
  gap: 1rem;
  max-width: 36.75rem;
  width: 100%;

  @include screen-md-min {
    grid-template-columns: 336fr 240fr;
    display: grid;
  }

  @include screen-md-max {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slide {
  &__current {
    position: relative;
    max-width: 21rem;
    height: 100%;
    
    @include screen-md-max {
      aspect-ratio: 336 / 471;
      width: 100%;
    }
  }
  &__next {
    position: relative;
    aspect-ratio: 240 / 333;

    @include screen-md-max {
      display: none;
    }
  }
}

.right {
  max-width: 15rem;
  display: flex;
  flex-direction: column;

  @include screen-md-min {
    gap: 3.5rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  > button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0.625rem;
  }
}
