@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';


.header {
	@apply py-[1.875rem] w-full flex gap-2 items-center px-4 fixed top-0;
}

.link {
	color: #222222;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: black;
	}
}

.logo {
	flex: 2;
	@include screen-lg-max {
		display: none;
	}
}

.language-select {
	@apply flex justify-end;
	flex: 1;
}

.navbar {
	flex: 6;
	@include screen-lg-max {
		display: none;
	}
}

.right-side {
	@apply flex justify-end gap-2;
	flex: 3;
	@media screen and (max-width: $screen-xs-max) and (min-width: $screen-lg-min) {
		flex: 1;
	}

	&__links {
		@apply flex items-center gap-2;
	}
}

.mobile-navbar {
	@include screen-lg-min {
		display: none;
	}
	flex: 100;
}
