.wrapper {
  > ol {
    display: flex;
   >  li {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 125%; /* 15/12 */
      letter-spacing: 0.1rem;
      color: rgb(76, 76, 76);
      font-family: Montserrat, sans-serif;
			&.last {
				color: var(--red-color);
			}
    }
  }
}

