.button {
  @apply font-inter;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.primary, .primary[type=submit]  {
  border: 1px solid var(--text-color);
  background: var(--text-color);
  color: var(--neutral-000);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(34, 34, 34, 0.9);
  }
}

.outline {
  color: var(--text-color);
  border: 1px solid var(--text-color);

  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: inset 0px 0px 7px -3px var(--text-color);
  }
}

.gray,
[type=submit].gray {
  border: 0.5px solid var(--neutral-300);
  background: var(--neutral-100);
}
