@import '@/styles/mixins.scss';

.container {
  @include adaptive-value('padding-top', 100, 50);
  @include adaptive-value('padding-bottom', 300, 100);
}

.content {
  @apply flex gap-[30px] ;
  

  > div {
    flex:1 ;
  }

  @media screen and (width <= 640px) {
    flex-direction: column;
  }
}

.title {
  @apply font-montserrat text-5xl font-semibold uppercase text-center;
  color: var(--text-color);
  letter-spacing: 2px;
  margin-bottom: 2.3125rem;
}
