.form {
  @apply w-full;
  > p:first-of-type {
    @apply mb-8 mt-3;
  }
}

.password__forgot {
  @apply font-inter text-md font-normal ;
  color: var(--secondary-300);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--secondary-500);
  }
}
