@import '@/styles/mixins.scss';

.title {
  font-family: Montserrat, sans-serif;
  @include adaptive-value('font-size', 48, 24);
  font-weight: 600;
  line-height: calc(59 / 48);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;

  & span {
    color: #950707;
  }
}
