@import '@/styles/mixins.scss';

.wrapper {
  @apply flex;

  & > div:last-of-type {
    margin-left: 2rem;
  }
}

.big-image {
  position: relative;
  width: 24.6875rem;
  height: 36.9375rem;

  &_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include screen-md-max {
      max-width: 21rem;
      max-height: 29.4375rem;
      aspect-ratio: 336 / 471;
      width: 100%;
    }
  }
}

.arrows {
  margin-top: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
  svg {
    width: 82px;
  }
}

.slider {
  overflow: hidden;
  min-width: 181px;
  >div {
    max-height: 829px;
  }
}

.slide {
  width: 100%;
  aspect-ratio: 181 / 271;
  position: relative;
  margin-bottom: 8px;
}
