.input {
  @apply font-inter;
  border: 0.5px solid var(--neutral-300);

  &::placeholder {
    color: var(--secondary-100);
  }
}
.base {
  @apply text-sm font-medium;
  padding: 0.75rem;
}

.md {
  @apply text-md font-normal;
  padding: 17px 16px;
}

.lg {
  @apply text-lg font-normal;
  padding: 0.9375rem 1.5rem;
}

input.invalid {
  border: 0.5px solid var(--red-color);
}
