@import '@/styles/mixins.scss';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.375rem;
}

.trigger {
  @apply font-montserrat text-md font-semibold uppercase;
  display: flex;
  align-items: center;
  padding: 15.5px 0.75rem;
  background-color: var(--white-color);
  gap: 0.375rem;
  color: var(--text-color);

  transition: all 0.3s ease-in-out;

  svg {
    stroke: var(--text-color);
    transition: stroke 0.3s ease-in-out;
  }

  &:hover {
    background-color: rgb(243, 229, 229);
  }
}

.overlay {
  @apply fixed inset-0;
  background: rgba(118, 118, 118, 0.4);
}

.panel {
  @apply z-50 fixed top-0 h-full;
  overflow: auto;
  background-color: var(--white-color);
  padding: 3.75rem 0;
  max-width: 30rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  > h2 {
    @apply text-2xl font-semibold font-montserrat text-center;
    color: var(--text-color);
  }

  > div:first-of-type {
    flex: 1;
  }

  > div:last-of-type {
    display: flex;
    gap: 1.5rem;
    width: 100%;

    @include adaptive-value('padding-inline', 46, 16);

    > button {
      width: 100%;
      flex: 1;
    }
  }
}

.close {
  @apply absolute top-6 right-6 rounded-sm bg-transparent hover:bg-neutral-100 transition-all p-2;
  svg {
    fill: var(--text-color);
  }
}
