.wrapper {
  width:100%; 
  & > button:last-of-type {
    margin-top:1.375rem ;
  }
}

.or {
  @apply mb-12 flex justify-center items-center relative;
  color: var(--neutral-500);

  &::before,
  &::after {
    content: '';
    position: absolute;

    width: 41%;
    height: 2px;
    background-color: var(--neutral-100);

    @media screen and (min-width: 1440px) {
      width: 43.92%;
    }
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.button {
  @apply bg-white flex items-center justify-center gap-3.5 text-lg font-inter font-medium py-4 w-full;
  border: 1px solid var(--neutral-200);
  color: var(--secondary-400);
}
