.wrapper {
  @apply flex gap-8;
  margin-top: 64.5px;
  min-height: 57.5rem;
  > div {
    flex: 1;
  }
}

.info {
  @apply flex flex-col;
  &__top {
    @apply flex items-center justify-between;
  }
}

.id {
  @apply font-inter text-xs;
  color: var(--secondary-300);
}

.rating {
  @apply flex items-center;
  gap: 5.33px;
  height: 16px;

  & > div {
    &:last-child {
      @apply font-inter text-xs font-normal underline;
      color: var(--secondary-500);
      letter-spacing: 0px;
    }
  }
}

.name {
  @apply mt-4 font-montserrat  font-semibold;
  color: var(--secondary-450);
  font-size: 1.25rem;
  line-height: 156%;
}

.price {
  @apply font-montserrat font-semibold text-xl mt-4;
  color: var(--text-color);
}

.colors {
  @apply mt-8 flex flex-col gap-4;
  &__list {
    @apply flex gap-3;
  }
}

.color {
  @apply w-8 h-8 relative flex items-center justify-center;

  &--active {
    border: 0.5px solid var(--secondary-500);
  }

  > div {
    @apply w-4 h-4 rounded-full;
    transition: 0.3s scale linear;
  }
}

.sizes {
  @apply flex flex-col gap-4;
  margin-top: 25px;

  &__list {
    @apply flex overflow-auto;
    max-width: 610px;
    gap: 13.7px;
  }

  > div {
    @apply flex items-center justify-between gap-2;

    > button {
      @apply flex items-center;
      gap: 6px;
      > span {
        @apply font-inter text-sm font-medium underline;
        color: var(--text-color);
        line-height: 130%;
      }
    }
  }
}

.size {
  @apply p-3 flex items-center justify-center transition-all relative;
  min-width: 5.625rem;

  border: 0.5px solid var(--neutral-400);

  > span {
    @apply font-inter text-md font-semibold transition-all;
    color: var(--text-color);
  }

  &--active {
    background-color: var(--secondary-500);
    border-color: var(--secondary-500);
    > span {
      color: var(--neutral-000);
    }
  }
}

.colors__current,
.sizes__current {
  @apply font-inter text-md font-semibold;
  color: var(--text-color);
}

.color > div > input,
.size > input {
  @apply absolute w-full h-full top-0 left-0 appearance-none opacity-0 cursor-pointer;
  z-index: 2;
}

.actions {
  @apply flex gap-8;
  margin-top: 5rem;
  > button {
    &:first-of-type {
      min-width: 4.6875rem;
      svg {
        transition: all 0.3s ease-in-out;
      }
      &:hover svg {
        fill: var(--primary-200);
      }
      &:hover svg.choosen {
        fill: var(--primary-500);
      }

      &:focus svg {
        scale: 1.1;
      }

      &:active svg {
        stroke: var(--primary-500);
        fill: var(--primary-500);
        scale: 0.9;
      }
    }
    &:last-of-type {
      @apply font-inter flex-1;
      color: var(--neutral-000);
    }
  }
}
