@import '@/styles/mixins.scss';

$gap: 32px;

.wrapper {
  @include adaptive-value('padding-top', 120, 60);
  @include adaptive-value('padding-bottom', 340, 128);
  display: flex;
  flex-direction: column;
  gap: 16.25rem;

  & h2 {
    margin-bottom: 6.25rem;
  }
}

.column {
  max-width: 18rem;
}
// --------------   second section  ------------------

.bestsellers {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0px;
  color: #222;

  & > a,
  & .refreshBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #222;
    transition: gap 0.3s ease-in;

    &:hover,
    &:focus {
      gap: 8px;
      color: #950707;

      svg {
        fill: #950707;
      }
    }
    &:active {
      color: #aa3939;

      svg {
        fill: #aa3939;
      }
    }
  }

  & > a {
    position: static;
    align-self: center;
  }
}

.gridBestsellers {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;
}

// --------------   third section  ------------------

.gridFlexEnd {
  position: relative;
  display: grid;
  grid-template-columns: calc((100% - 3 * #{$gap}) / 4) calc(
      (300% - #{$gap}) / 4
    );
  gap: $gap;
  align-items: flex-end;

  & > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gap;
  }
}

.lookList {
  align-items: flex-start;
}

.lookImg {
  object-fit: cover;
}

.refreshBtn {
  position: absolute;
  top: 6.5px;
  right: 14px;

  &:hover,
  &:focus {
    gap: 4px;
    svg {
      transform: rotate(90deg);
      transition: transform 0.3s ease-in;
    }
  }

  &:active svg {
    transition: transform 0.3s ease-in;
    transform-origin: center;
    animation: rotate 0.1s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    animation-timing-function: linear;
  }
  10% {
    transform: rotate(-900deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(-1800deg);
  }
}
