.thumb {
  // margin-bottom: 12px;
  position: relative;

  & > button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;

    &:hover svg {
      fill: #d59c9c;
      // scale: 1.1;
    }

    &:focus svg {
      scale: 1.1;
    }

    &:active svg {
      stroke: #950707;
      fill: #950707;
      scale: 0.9;
    }
  }
}

.bestseller_title {
  margin-top: 7px;
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.colors {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;

  & > li,
  & > span:nth-child(2) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.price {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.popup {
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 30%;
  width: 70%;
  background-color: rgba(200, 230, 200, 0.3);
  text-align: center;
  z-index: 7;

  & > button {
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(240, 240, 240, 0.5);
  }

  & > button:last-child {
    margin-left: 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.btns {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;

  & button {
    height: 72px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    font-family: Inter, sans-serif;
  }
  & > div > button:first-child {
    padding: 24px;
    width: 136px;
    background-color: #e4e4e4;

    & svg {
      position: absolute;
      // right: 31px;
      right: 24px;
    }
  }
  & > button:last-child {
    padding: 24px 40px;
    display: flex;
    align-items: center;
    // gap: 24px;
    width: 234px;
    background-color: #aa3939;
    color: #f3f2f2;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: #950707;
    }
    & svg {
      min-width: 24px;
      min-height: 24px;
    }
    &:active svg {
      scale: 1.2;
    }
    &:disabled {
      background-color: #d59c9c;
    }
  }

  & ul {
    height: 252px;
    overflow-y: scroll;
    top: 102%;
    z-index: 5;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  & li {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    background-color: #e4e4e4;
    border-bottom: 0.5px solid #c8c8c8;
  }
}
