.thumb {
  position: relative;

  & > button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;

    scale: 1.1;

    &:hover svg {
      fill: var(--primary-200);
    }
    &:hover svg.choosen {
      fill: var(--primary-500);
    }

    &:focus svg {
      scale: 1.1;
    }

    &:active svg {
      stroke: var(--primary-500);
      fill: var(--primary-500);
      scale: 0.9;
    }
  }
}

.bestseller_title {
  margin-top: 7px;
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.colors {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;

  & > li,
  & > span:nth-child(2) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.price {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.btns {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 14px;
  justify-content: space-between;

  & button {
    height: 56px;
    justify-content: space-between;

    font-weight: 600;
    font-size: 16px;
    line-height: calc(20 / 16);
    font-family: Inter, sans-serif;
  }
  & > div > button:first-child {
    padding: 16px 12px;
    width: 93px;
    background-color: #e4e4e4;

    & svg {
      position: absolute;
      right: 12px;
    }
  }
  & > button:last-child {
    padding: 16px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 181px;
    background-color: #aa3939;
    color: #f3f2f2;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: #950707;
    }
    & svg {
      min-width: 24px;
      min-height: 24px;
    }
    &:active svg {
      scale: 1.2;
    }
    &:disabled {
      background-color: #d59c9c;
    }
  }

  & ul {
    height: 252px;
    overflow-y: scroll;
    top: 102%;
    z-index: 5;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  & li {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    background-color: #e4e4e4;
    border-bottom: 0.5px solid #c8c8c8;
  }
}
