.footer {
  padding: 60px 96px 90px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #2d2d2d;
  border-top: 2px solid rgb(149, 7, 7);
}

.limiter {
  max-width: 1312px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 83px;

  & h3 {
    margin-bottom: 24px;
    font-weight: 700;
  }

  & > ul {
    display: flex;
  }
}

.nav {
  // gap: 120px;

  & > li {
    width: 237px;

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
  }

  & a:hover {
    font-weight: 600;
    color: #767676;
  }

  & a {
    text-wrap: wrap;
  }
}

.subscribe {
  margin-left: auto;
  // width: 386px;

  & > p {
    margin-bottom: 37px;
    width: 328px;
  }
  & > form {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
  }

  & input {
    padding: 12px;
    width: 288px;
    height: 48px;
    font-weight: 400;
    color: #222;
    line-height: calc(24 / 20);
    background-color: inherit;
    border: 0.5px solid #767676;

    &:hover,
    &:focus {
      border: 0.5px solid #950707;
    }
  }

  & input::placeholder {
    font-weight: 400;
    color: #767676;
  }

  & svg {
    position: absolute;
    right: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    fill: #950707;
  }
}

.subscribeBtn {
  padding: 0 26.5px;
  position: relative;
  height: 48px;
  font-weight: 500;
  border: 0.5px solid #767676;
  background-color: white;

  transition: color var(--transition-time-quick);

  &:hover svg,
  &:focus svg {
    opacity: 1;
  }

  &:hover {
    color: transparent;
    animation-name: step;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: steps(1, jump-end);
  }

  &:not(:hover) {
    animation-name: backward;
    animation-duration: 0.15s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: steps(1, jump-end);
  }

  &:active,
  &:focus {
    color: transparent;
    transition: 0.3s ease-out;
    background-color: #eacdcd;
    border: 0.5px solid #950707;
  }
}

@keyframes step {
  0% {
    border-color: transparent;
    box-shadow: 0.5px 0.5px 1px #767676;
    border-right-color: #950707;
    border-bottom-color: #950707;
  }
  100% {
    box-shadow: none;
    border-right-color: #950707;
    border-bottom-color: #950707;
    border-left-color: #950707;
    border-top-color: #950707;
  }
}
@keyframes backward {
  0% {
    border-color: transparent;
    box-shadow: 0.5px 0.5px 1px #767676;
    border-right-color: #950707;
    border-bottom-color: #950707;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  100% {
    box-shadow: none;
    border: 0.5px solid #767676;
  }
}

.logo {
  display: flex;
  gap: 32px;
  align-items: center;

  & > a {
    padding-top: 2px;
    height: 48px;
  }

  & > p {
    color: #a1a1a1;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  & > p > a {
    text-decoration: underline;
  }

  & > a:hover {
    background-color: #950707;
    color: #fafafa;

    & span {
      color: #fafafa;
    }
  }
}

.social {
  margin-left: auto;
  align-items: flex-end;
  gap: 12px;

  & svg:hover {
    scale: 1.2;
    fill: #767676;
    stroke: #767676;
  }
  & > li:nth-child(2) svg {
    fill: transparent;
  }
}
