.footer {
  padding: 60px 96px 90px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #2d2d2d;
  border-top: 2px solid rgb(149, 7, 7);
}

.limiter {
  max-width: 1312px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 83px;

  & h3 {
    margin-bottom: 24px;
    font-weight: 700;
  }

  & > ul {
    display: flex;
  }
}

.nav {
  // gap: 120px;

  & > li {
    min-width: 237px;

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
  }

  & a:hover {
    font-weight: 600;
    color: #767676;
  }
}

.subscribe {
  margin-left: auto;
  width: 386px;

  & > p {
    margin-bottom: 37px;
    width: 328px;
  }
  & > form {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
  }

  & input {
    padding: 12px;
    width: 288px;
    height: 48px;
    line-height: 1;
    background-color: inherit;
    border: 0.5px solid #767676;

    &:hover {
      border: 0.5px solid rgba(149, 7, 7, 0.5);
    }
  }

  & input::placeholder {
    font-weight: 400;
    color: #767676;
  }

  & button {
    position: relative;
    width: 94px;
    height: 48px;
    font-weight: 500;
    border: 0.5px solid #767676;

    & svg {
      position: absolute;
      right: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      fill: rgb(149, 7, 7);

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      color: transparent;
      border: 0.5px solid rgba(149, 7, 7, 0.5);
    }
  }
}

.logo {
  display: flex;
  gap: 32px;
  align-items: center;

  & a {
    padding-top: 2px;
    height: 48px;
  }

  & > p {
    color: #a1a1a1;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  & > p > a {
    text-decoration: underline;
  }
}

.social {
  margin-left: auto;
  align-items: flex-end;
  gap: 12px;

  & svg:hover {
    scale: 1.2;
    fill: #767676;
    stroke: #767676;
  }
  & > li:nth-child(2) svg {
    fill: transparent;
  }
}
